body #errorTag {
  text-align: center;
  float: none !important;
  margin-left: 0 !important;
}

body .cmxform {
  box-shadow: none !important;
  background: #f1f1f1;
  width: 940px;
  margin: auto;
}

body .cmxform #form-wizard {
  border-radius: 0;
  -webkit-border-radius: 0;
  padding: 0px;
}

body .cmxform .ui-corner-all {
  border-radius: 0;
  background: none;
  border: none;
  border-bottom: 1px solid #d4ccb0;
  padding-left: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
}

body .cmxform .ui-corner-all .ui-state-default {
  -webkit-border-radius: 0;
  border-radius: 0;
}

body .cmxform .form-tabs-header {
  background: #FFF;
  width: 940px;
  padding: 0px;
  position: relative;
}

body .cmxform .form-tabs-header.sticky {
  z-index: 3000;
}

body .cmsform .form-tabs-header {
  margin-right: -1px;
}

body .cmxform .form-tabs-header .ui-state-default a {
  font-weight: bold;
  padding: 10px 15px;
}

body .cmxform select {
  height: 50px;
}

body .cmxform input[type="text"], body .cmxform input[type="text"]:hover,
body .cmxform select, body .cmxform select:hover,
body .cmxform textarea, body .cmxform textarea:hover {
  padding: 15px;
  font-size: 1.1em;
  border-radius: 0;
  border: 1px solid #ccc;
  background: #FFF;
  box-shadow: inset 1px 1px 7px #cccccc;
  -moz-box-shadow: inset 1px 1px 7px #cccccc;
  -webkit-box-shadow: inset 1px 1px 7px #cccccc;
}

body .cmxform textarea, body .cmxform textarea:hover {
  padding: 7px 15px;
}

body .cmxform input[type="text"]:focus,
body .cmxform select:focus,
body .cmxform textarea:focus {
  border: 1px solid #888;
  background: #FFF;
  outline: 1px solid transparent;
}

body .cmxform input[type="checkbox"] {
  margin-bottom: 10px;
}

body .cmxform .shade .form-final-submit input {
  border-radius: 0;
  padding: 10px 14px;
  font-size: 14px;
}

body .cmxform .shade .form-final-submit input:hover,
body .cmxform .shade .form-final-submit input:active,
body .cmxform .shade .form-final-submit input:focus {
  padding: 10px 14px;
  font-size: 14px;
  border: 1px solid #C00;
}

body .cmxform .shade .form-final-submit input:active {
  padding: 12px 14px 8px;
}

body .cmxform .shade .form-final-submit input:focus {
  outline: 1px dotted #CC0;
}

body .cmxform .shade .form-final-submit input.ui-state-error:active {
  padding: 10px 14px;
}

body .cmxform .shade .form-final-submit input.active-submit-button {
  border:1px solid #34740e;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  color: #FFFFFF;
  background-color: #4ba614;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
  background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
  background-image: -moz-linear-gradient(top, #4ba614, #008c00);
  background-image: -ms-linear-gradient(top, #4ba614, #008c00);
  background-image: -o-linear-gradient(top, #4ba614, #008c00);
  background-image: linear-gradient(to bottom, #4ba614, #008c00);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
}

body .cmxform .shade .form-final-submit input.active-submit-button:hover,
body .cmxform .shade .form-final-submit input.active-submit-button:active,
body .cmxform .shade .form-final-submit input.active-submit-button:focus {
  border:1px solid #224b09;
  background-color: #36780f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
  background-image: -webkit-linear-gradient(top, #36780f, #005900);
  background-image: -moz-linear-gradient(top, #36780f, #005900);
  background-image: -ms-linear-gradient(top, #36780f, #005900);
  background-image: -o-linear-gradient(top, #36780f, #005900);
  background-image: linear-gradient(to bottom, #36780f, #005900);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
}

body .cmxform .shade .form-final-submit input.button {
  border:1px solid #ffc826;
  text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
  color: #333333;
  background-color: #ffd65e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd65e), to(#febf04));
  background-image: -webkit-linear-gradient(top, #ffd65e, #febf04);
  background-image: -moz-linear-gradient(top, #ffd65e, #febf04);
  background-image: -ms-linear-gradient(top, #ffd65e, #febf04);
  background-image: -o-linear-gradient(top, #ffd65e, #febf04);
  background-image: linear-gradient(to bottom, #ffd65e, #febf04);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffd65e, endColorstr=#febf04);
}

body .cmxform .shade .form-final-submit input.button:hover {
  border:1px solid #f7b800;
  background-color: #ffc92b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc92b), to(#ce9a01));
  background-image: -webkit-linear-gradient(top, #ffc92b, #ce9a01);
  background-image: -moz-linear-gradient(top, #ffc92b, #ce9a01);
  background-image: -ms-linear-gradient(top, #ffc92b, #ce9a01);
  background-image: -o-linear-gradient(top, #ffc92b, #ce9a01);
  background-image: linear-gradient(to bottom, #ffc92b, #ce9a01);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc92b, endColorstr=#ce9a01);
}

body .cmxform .shade .form-final-submit input.ui-state-error,
body .cmxform .shade .form-final-submit input.ui-state-error:hover,
body .cmxform .shade .form-final-submit input.ui-state-error:focus,
body .cmxform .shade .form-final-submit input.ui-state-error:active {
  border: 1px solid #CCC;
  background: #FFF;
  background-image: none\9;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ffffff);
}

body .cmxform h1 {
  font-size: 1.5em;
}

body .cmxform .form-row {
  min-height: 100px;
  position: relative;
}

body .cmxform .form-row label.error {
  position: absolute;
  bottom: 0px;
}

div.form-row label,
div.short-form-row label,
div.long-form-row label {
  font-size: 15px;
  padding-bottom: 3px;
}

body .cmxform .form-row p,
div.form-row label.error,
div.short-form-row label.error,
div.long-form-row label.error {
  font-size: 0.8em;
}

div.form-row.error:hover,
div.short-form-row.error:hover,
div.long-form-row.error:hover,
div.form-row.valid:hover,
div.short-form-row.valid:hover,
div.long-form-row.valid:hover,
div.form-row:hover,
div.short-form-row:hover,
div.long-form-row:hover {
  background-color: #f1f1f1;
}

div.form-row.valid,
div.short-form-row.valid,
div.long-form-row.valid,
div.form-row.error,
div.short-form-row.error,
div.long-form-row.error {
  background: none;
}

div.form-row.error label,
div.short-form-row.error label,
div.long-form-row.error label {
  color: black;
}

div.form-row.error label.error,
div.short-form-row.error label.error,
div.long-form-row.error label.error,
div.form-row.error:hover label.error,
div.short-form-row.error:hover label.error,
div.long-form-row.error:hover label.error {
  color: #c00;
}

div.form-row.error textarea,
div.form-row.error select,
div.form-row.error input {
  border-color: #c00;
}

body .ui-datepicker {
  font-size: 16px;
  border-radius: 0;
  -webkit-border-radius: 0;
}

body .ui-datepicker *.ui-corner-all {
  border-radius: 0;
  -webkit-border-radius: 0;
}

body .cmxform .pq-grid-inner {
  background: #FFF;
}

body .cmxform .stMainWrapper ul.ui-tabs-nav {
  position:relative;
  overflow:hidden;
}

body .cmxform .stMainWrapper ul.ui-tabs-nav li {
  position:absolute;
  top:0px; /*do not set 'left' should be done in the plugin after some calculations*/
}

body .cmxform .stMainWrapper ul.ui-tabs-nav li.stHasCloseBtn a {
  padding-right:5px;
}

body .cmxform .stMainWrapper ul.ui-tabs-nav li.stFirstTab,
body .cmxform .stMainWrapper ul.ui-tabs-nav li {
  margin-right:0px;
}

body .cmxform .stMainWrapper ul.ui-tabs-nav li span.stCloseBtn {
  float:left;
  margin-top:6px;
  margin-right:4px;
  border:none;
  cursor:pointer;
}

body .cmxform .stNavMain {
  list-style:none;
  margin: 0!important;
  padding: 0!important;
  position:relative;
  border:none !important;
  width:100%;
}

body .cmxform .stNavMain li {
  position:absolute;
  width:16px;
  cursor:pointer;
  margin:0;
  height:39px!important;
  top: -41px!important;
}

body .cmxform .stNavMain li .ui-icon {
  margin-top:12px;
}

body .cmxform .stNavMain li.stNavNextArrow,
body .cmxform .stNavMain li.stNavLastArrow {
  /*border-right:none !important;*/
  right:0px;
}

body .cmxform .stNavMain .ui-corner-left,
body .cmxform .stNavMain .ui-corner-right {
  border-radius: 0;
  -webkit-border-radius: 0;
}

body .cmxform .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  padding-bottom: 0px;
}